<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout Cart</title>
</head>

<body>

    <form action="/checkout" method="post">

    <div id="shipment-info" class="form">
        <div class="input">
            <label for="name">Enter your name: </label>
            <input type="text" name="name" id="name" required>
        </div> <br>
        <div class="input">
            <label for="email">Enter your email: </label>
            <input type="email" name="email" id="email" required>
        </div> <br>
        <div class="input">
            <label for="email-confirmation">Please enter your email again: </label>
            <input type="email" name="email-confirmation" id="email-confirmation" required>
        </div> <br>


        <select id="billing-country" name="country">
            <option value="Hungary">Hungary</option>
            <option value="England">England</option>
            <option value="France">France</option>
            <option value="Germany">Germany</option>
        </select>


        <div class="input"> <br>
            <label for="state">Enter state: </label>
            <input type="text" name="state" id="state" required>
        </div>  <br>
        <div class="input">
            <label for="city-code">Enter ZIP code: </label>
            <input type="text" name="city-code" id="city-code" required>
        </div>  <br>
        <div class="input">
            <label for="street">Enter street: </label>
            <input type="text" name="street" id="street" required>
        </div> <br>
        <div class="input">
            <label for="house-number">Enter house number: </label>
            <input type="text" name="house-number" id="house-number" required>
        </div>  <br>

        <div id="billing-info">

    <select id="country" name="country">
        <option value="Hungary">Hungary</option>
        <option value="England">England</option>
        <option value="France">France</option>
        <option value="Germany">Germany</option>

    </select>

            <div class="input"> <br>
        <label for="billing-state">Enter state: </label>
        <input type="text" name="billing-state" id="billing-state" required>
    </div> <br>
            <div class="input">
        <label for="billing-city-code">Enter ZIP code: </label>
        <input type="text" name="billing-city-code" id="billing-city-code" required>
    </div> <br>
            <div class="input">
        <label for="billing-street">Enter street: </label>
        <input type="text" name="billing-street" id="billing-street" required>
    </div> <br>
            <div class="input">
        <label for="billing-house-number">Enter house number: </label>
        <input type="text" name="billing-house-number" id="billing-house-number" required>
    </div> <br>
        </div>
<div id="payment-info" class="form">
    <select id="payment-type" name="payment">
        <option value="paypal">Paypal</option>
        <option value="credit-card">Credit card</option>
    </select> <br>
</div> <br>
        <button type="submit">Process checkout</button>
</div>

    </form>

</body>
</html>