<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>

<body>

<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
</div>
<div class="checkout-container">


    <form th:action="@{/checkout}" th:method="post">
        <div class="row">
            <div class="col-md-8 mb-4">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h4 class="text-danger">User Information</h4>
                    </div>
                    <div class="card-body">
                        <div class="row mb-4">

        <div class="col">
        <div class="form-outline">
            <label label = "form-label" for="input-first-name">Enter your firstname: </label>
            <input type="text" id="input-first-name" class="form-control" required/>
        </div>
        </div>
                                <br>


        <div class="col">
        <div class="form-outline">
            <label for="input-last-name">Enter your lastname: </label>
            <input type="text" id="input-last-name" class = "form-control" required/>
        </div>

                                <br>

            <div class="form-outline mb-4">
                <input type="email" id="input-email" class="form-control"/>
                <label class="form-label" for="input-email">Enter email</label>
            </div>

            <div class="form-outline mb-4">
                <input type="number" id="input-phone" class="form-control"/>
                <label class="form-label" for="input-phone">Enter phone</label>
            </div>
        </div>
                        </div>
                    </div>


                    <div class="col-md-4 mb-4">
                        <div class="card mb-4">
                            <div class="card-header py-3">
                                <h5 class="text-danger">Summary</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                        Products
                                        <span th:text="${value}">$53.98</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                        Shipping
                                        <span>Free</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                        <div>
                                            <strong>Total amount</strong>
                                            <strong>
                                                <p class="mb-0">(including VAT)</p>
                                            </strong>
                                        </div>
                                        <span><strong th:text="${value}">$53.98</strong></span>
                                    </li>
                                </ul>

                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    Make purchase
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 mb-4">
                        <div class="card mb-4">
                            <div class="card-header py-3">
                                <h5 class="text-danger">Billing Address</h5>
                            </div>
                            <div class="card-body">

                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline">
                                            <input type="number" id="input-billing-zip" class="form-control"/>
                                            <label class="form-label" for="input-billing-zip">Enter ZIP</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <input type="text" id="input-billing-city" class="form-control"/>
                                            <label class="form-label" for="input-billing-city">Enter city</label>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-outline mb-4">
                                    <input type="text" id="input-billing-address" class="form-control"/>
                                    <label class="form-label" for="input-billing-address">Enter Address</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" id="input-billing-country" class="form-control"/>
                                    <label class="form-label" for="input-billing-country">Enter Address</label>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-8 mb-4">
                        <div class="card mb-4">
                            <div class="card-header py-3">
                                <h5 class="text-danger">Delivery Address</h5>
                            </div>
                            <div class="card-body">

                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline">
                                            <input type="number" id="input-delivery-zip" class="form-control"/>
                                            <label class="form-label" for="input-delivery-zip">Enter ZIP</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <input type="text" id="input-delivery-city" class="form-control"/>
                                            <label class="form-label" for="input-delivery-city">Enter city</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" id="input-delivery-address" class="form-control"/>
                                    <label class="form-label" for="input-delivery-address">Enter address</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="text" id="input-delivery-country" class="form-control"/>
                                    <label class="form-label" for="input-delivery-country">Enter country</label>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </form>


</div>

<div th:replace="footer.html :: copy"></div>



</body>
</html>